---

import Banner from "@/assets/banner.jpg";
---
<div class=" p-2 h-5/6 w-full flex flex-col sm:flex-row sm:justify-between  gap-4">
    <div class="flex justify-center items-center">
        <img src={Banner.src} class="object-cover h-56 rounded w-96" alt="popo" />

    </div>
    <div class=" h-full w-full">
        <h1 class="text-2xl font-bold">Welcome to the Admin Panel</h1>
    </div>
</div>